QUES 3. CREATE YOUR OWN NOTEBOOK FOR SETS.

ANS. SETS in Python are defined as an unordered and unidexed collection which is written inside curly brackets. It can contain words as well as numbers. example of a set is as follows:

In [1]:
new_set = {"tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"}
print(new_set)

{'alligator', 'snake', 'monkey', 'tiger', 'polar bear', 'panda', 'rat'}

There are many different functions that can be performed on sets. These functions will be defined below.

1. ACCESS THE ITEM:
we can do this by using the FOR loop and IN keyword to access specific items in our sets. For example:

In [2]:
new_set = {"tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"}

for x in new_set:
    print(x)

alligator
snake
monkey
tiger
polar bear
panda
rat

In [5]:
new_set = {"tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"}
print("snake" in new_set)   #this will let us know that the desired item is present in the list or not in terms of true or false.

True

2. ADD AND UPDATE: We can add a new item to our set by using the add() syntax. We can add more than one items in the set by using the update() syntax. For example:

In [6]:
new_set = {"tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"}
new_set.add("horse")  #FOR ADDING ONE ITEM.
print(new_set)

{'horse', 'alligator', 'snake', 'monkey', 'tiger', 'polar bear', 'panda', 'rat'}

In [7]:
new_set = {"tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"}
new_set.update(["horse", "rabbit", "tortoise"])
print(new_set)

{'horse', 'rabbit', 'alligator', 'snake', 'tortoise', 'monkey', 'tiger', 'polar bear', 'panda', 'rat'}

3. TO PREDICT LENGTH OF A SET: We can predict the length of the set, i.e. know how many values a set has by using the len() syntax. For example:

In [9]:
new_set = {"tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"}

print(len(new_set))

7

4. REMOVE OR DISCARD: We can also remove items from the set by using the remove() or discard() syntax. For example:

In [10]:
new_set = {"tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"}
new_set.remove("rat")
print(new_set)

{'alligator', 'snake', 'monkey', 'tiger', 'polar bear', 'panda'}

In [12]:
new_set = {"tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"}
new_set.remove("rabbit")  #IF WE TRY TO REMOVE AN ITEM THAT IS NOT IN THE SET, THE remove() SYNTAX WILL GIVE AN ERROR.
print(new_set)

KeyError: 'rabbit'

In [15]:
new_set = {"tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"}
new_set.discard("tiger")  #DISCARD DOES THE SAME FUNCTION AS REMOVE
print(new_set)

{'alligator', 'snake', 'monkey', 'polar bear', 'panda', 'rat'}

In [14]:
new_set = {"tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"}
new_set.discard("tortoise") #DISCARD DOES NOT GIVE AN ERROR EVEN WHEN THE ITEM TO BE REMOVED IS NOT IN THE SET.
print(new_set)

{'alligator', 'snake', 'monkey', 'tiger', 'polar bear', 'panda', 'rat'}

5. POP(): WE CAN ALSO REMOVE AN ITEM USING THE pop() SYNTAX. THIS WILL REMOVE THE LAST ITEM IN THE SET. BUT IT HAS A DRAWBACK. SETS ARE UNORDERD, AND WE CAN NEVER PREDICT WHICH ITEM FROM THE SET WILL BE REMOVED, AS THE ORDER KEEPS ON CHANGING. THE ITEM THAT IS REMOVED IS THE RESULT OF THE pop() SYNTAX. FOR EXAMPLE:

In [16]:
new_set = {"tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"}
a = new_set.pop()
print(a)          # HERE ALLIGATOR IS THE ITEM REMOVED FROM THE LIST.
print(new_set)

alligator
{'snake', 'monkey', 'tiger', 'polar bear', 'panda', 'rat'}

6. CLEAR: WE CAN REMOVE ALL THE ITEMS IN THE SET BY USING THE clear() SYNTAX. THIS STEP WILL RENDER OUR SET TO BE EMPTY. FOR EXAMPLE:

In [17]:
new_set = {"tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"}
new_set.clear()
print(new_set)

set()

7. DELETE: WE CAN DELETE OUR SET IN ONE VERY EASY STEP, i.e. BY USING THE del() SYNTAX. FOR EXAMPLE:

In [24]:
new_set = {"tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"}
print(new_set)

del new_set
print(new_set)  # THIS STEP WILL GIVE US AN ERROR AS SHOWN BELOW, BECAUSE THE SET NO LONGER EXISTS, i.e. IT HAS BEEN DELETED ALREADY.

{'alligator', 'snake', 'monkey', 'tiger', 'polar bear', 'panda', 'rat'}

NameError: name 'new_set' is not defined

8. JOIN TWO SETS: WE CAN JOIN TWO VERY DIFFERENT SETS BY 2 DIFFERENT METHODS, ONE OF THEM IS USING THE union() SYNTAX, WHICH WILL GIVE US A COMPLETELY NEW SET THAT HAS ALL THE ITEMS FROM BOTH THE SETS. FOR EXAMPLE:

In [25]:
new_set = {"tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"}
newset = {"mango", "apricot", "watermelon"}

new_SET = new_set.union(newset)

print(new_SET)

{'alligator', 'snake', 'mango', 'apricot', 'monkey', 'watermelon', 'tiger', 'polar bear', 'panda', 'rat'}

THE OTHER METHOD TO JOIN TWO SETS IS THE update() SYNTAX, WHICH INSERTS VALUE OF ONE SET INTO THE ANOTHER. FOR EXAMPLE:

In [26]:
new_set = {"tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"}
newset = {"mango", "apricot", "watermelon"}

new_set.update(newset)

print(new_set)

{'alligator', 'snake', 'mango', 'apricot', 'monkey', 'watermelon', 'tiger', 'polar bear', 'panda', 'rat'}

9. SET CONSTRUCTOR: WE CAN ALSO USE set() CONSTRUCTOR TO CREATE A SET. FOR EXAMPLE:

In [28]:
new_set = set(("tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"))
# THE DOUBLE BRACKETS ARE USED TO CREATE THE SET, AND WE CAN CREATE A SET WITHOUT SPECIFYING A SET USING CURLY BRACKET.

print(new_set)

{'alligator', 'snake', 'monkey', 'tiger', 'polar bear', 'panda', 'rat'}

10. COPY: THIS WILL RETURN A COPY OF THE SET, BY USING THE copy() SYNTAX. FOR EXAMPLE:

In [34]:
new_set = {"tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"}
new_set.copy()
print(new_set)

{'alligator', 'snake', 'monkey', 'tiger', 'polar bear', 'panda', 'rat'}

11. DIFFERENCE: THE difference() SYNTAX WILL RETURN THE DIFFERENCE BETWEEN TWO OR MORE SETS. FOR EXAMPLE:

In [35]:
new_set = {"tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"}
newset = {"mango", "apricot", "watermelon", "monkey", "snake", "panda", "polar bear"}

newSET = new_set.difference(newset)

print(newSET)

{'alligator', 'rat', 'tiger'}

12. DIFFERENEC UPDATE: THE difference_update() SYNTAX REMOVES THE ITEMS OF A SET THAT ARE ALSO PRESENT IN ANOTHER SPECIFIED SET. FOR EXAMPLE:

In [37]:
new_set = {"tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"}
newset = {"mango", "apricot", "watermelon", "monkey", "snake", "panda", "polar bear"}

new_set.difference_update(newset)

print(new_set)

{'alligator', 'tiger', 'rat'}

13. INTERSECTION: WE CAN GET A NEW SET WHICH SHOWS US WHICH ITEMS ARE SAME IN TWO OR MORE SPECIFIED SETS, i.e. WHERE THE TWO SETS INTERSECT, USING THE intersect() AYNTAX. FOR EXAMPLE:

In [42]:
new_set = {"tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"}
newset = {"mango", "apricot", "watermelon", "monkey", "snake", "panda", "polar bear"}

newSET = new_set.intersection(newset)

print(newSET)

{'panda', 'monkey', 'polar bear', 'snake'}

In [41]:
new_set = {"tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"}
newset = {"mango", "apricot", "watermelon", "monkey", "snake", "panda", "polar bear"}
newset1 ={"potato", "tomato", "brinjal", "bottlegourd", "panda", "polar bear"}

newSET = new_set.intersection(newset, newset1)

print(newSET)

{'polar bear', 'panda'}

14. INTERSECTION UPDATE: THIS WILL LET US REMOVE THE ITEMS IN OUR SET THAT ARE NOT IN OTHER SETS AS WELL WHEN WE USE THE intersection_update() SYNTAX. FOR EXAMPLE:

In [54]:
new_set = {"tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"}
newset = {"mango", "apricot", "watermelon", "monkey", "snake", "panda", "polar bear"}
newset1 ={"potato", "tomato", "brinjal", "bottlegourd", "panda", "polar bear"}

new_set.intersection_update(newset, newset1)

print(new_set)

{'polar bear', 'panda'}

15.ISDISJOINT: WE CAN KNOW IF TWO SETS HAVE AN INTERSECTION OR NOT BY USING THE isdisjoint() SYNTAX. IT WILL RETURN TRUE IN THE CASE OF NO INTERSECTION AND FALSE IN THE CASE ANY INTERSECTION IS PRESENT. FOR EXAMPLE:

In [58]:
new_set = {"tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"}
newset = {"mango", "apricot", "watermelon", "monkey", "snake", "panda", "polar bear"}

newSET = new_set.isdisjoint(newset)

print(newSET)

#THE RESULT IS FALSE AS THERE ARE INTERSECTIONS PRESENT.

False

16.ISSUBSET: THIS WILL LET US KNOW IF A SET IS SUBSET OR NOT BY USING THE issubset() SYNTAX. It wil return TRUE if all the items of one set are present in the other and FALSE if that is not the case. FOR EXAMPLE:

In [61]:
new_set = {"monkey", "snake", "panda", "polar bear"}
newset = {"monkey", "snake", "panda", "polar bear"}

newSET = new_set.issubset(newset)

print(newSET) 
# THIS WILL RETURN TRUE AS ITEMS OF SET new_set ARE PRESENGT IN SET newset.

True

In [59]:
new_set = {"tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"} # this is x
newset = {"mango", "apricot", "watermelon", "monkey", "snake", "panda", "polar bear"} # this is y

newSET = new_set.issubset(newset) #SYNTAX IS : a = x.issubset(y)

print(newSET)

False

17.ISSUPERSET: THIS WILL LET US KNOW IF ITEMS OF ONE SET ARE PRESENT IN ANOTHER SET. FOR EXAMPLE:

In [67]:
new_set = {"tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"} # this is x
newset = {"mango", "apricot", "watermelon", "monkey", "snake", "panda", "polar bear"} # this is y

newSET = new_set.issuperset(newset) #SYNTAX IS : a = x.issuperset(y)

print(newSET)

#THIS CAME OUT TO BE FALSE AS NOT ALL ITEMS OF SET newset ARE PRESENT IN THE SET new_set.

False

In [69]:
new_set = {"tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"}
newset = {"monkey", "snake", "panda", "polar bear"}

newSET = new_set.issuperset(newset)

print(newSET)
# THIS CAME OUT TRUE AS ALL THE ITEMS IN SET newset ARE PRESENT IN THE SET new_set.

True

18. SYMMETRIC DIFFERENCE: THIS WILL CREATE A NEW SET THAT HAS ITEMS FROM BOTH THE SETS BUT DOES NOT HAVE ITEMS THAT ARE COMMONLY PRESENT IN BOTH THE SETS. WE USE THE z= x.symmetric_difference(y) SYNTAX. FOR EXAMPLE:

In [71]:
new_set = {"tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"} # this is x
newset = {"mango", "apricot", "watermelon", "monkey", "snake", "panda", "polar bear"} # this is y

newSET = new_set.symmetric_difference(newset) #SYNTAX IS : a = x.symmetric_difference(y)

print(newSET)

{'alligator', 'mango', 'apricot', 'watermelon', 'tiger', 'rat'}

19. SYMMETRIC DIFFERENCE UPDATE: THIS WILL REMOVE THE ITEMS THAT ARE COMMONLY PRESENT IN BOTH SETS, AND ADD THE ITEMS THAT ARE NOT PRESENT IN BOTH SETS. THE SYNTAX USED IS x.symmetric_difference_update.(y). FOR EXAMPLE:

In [72]:
new_set = {"tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"} # this is x
newset = {"mango", "apricot", "watermelon", "monkey", "snake", "panda", "polar bear"} # this is y

new_set.symmetric_difference_update(newset) #SYNTAX IS : x.symmetric_difference_update.(y).

print(new_set)

{'alligator', 'mango', 'apricot', 'watermelon', 'tiger', 'rat'}

20. UNION: THIS WILL GIVE US A NEW SET THAT HAS ALL THE ITEMS FROM BOTH THE SETS, AND IT WILL NOT CONTAIN ANY DUPLICATES. THE SYNTAX USED IS z= x.union(y). FOR EXAMPLE:

In [73]:
new_set = {"tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"} # this is x
newset = {"mango", "apricot", "watermelon", "monkey", "snake", "panda", "polar bear"} # this is y

newSET = new_set.union(newset) #SYNTAX IS : a = x.union(y)

print(newSET)

{'alligator', 'snake', 'mango', 'apricot', 'monkey', 'watermelon', 'tiger', 'polar bear', 'panda', 'rat'}

21. UPDATE: THIS WILL LET US INSERT THE ITEMS OF SET Y TO SET X WHEN WE USE THE SYNTAX x.update(y). FOR EXAMPLE:

In [74]:
new_set = {"tiger", "rat", "monkey", "snake", "panda", "polar bear", "alligator"} # this is x
newset = {"mango", "apricot", "watermelon", "monkey", "snake", "panda", "polar bear"} # this is y

new_set.update(newset) #SYNTAX IS : x.update(y)

print(new_set)

{'alligator', 'snake', 'mango', 'apricot', 'monkey', 'watermelon', 'tiger', 'polar bear', 'panda', 'rat'}